.Navbar {
    nav {
        display: flex;
        justify-content: space-around;

        ul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            gap: 20px;
            
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        a {
            text-decoration: none;
            color: rgb(7, 74, 115);
        }

        .active {
            font-weight: bold;
        }
    }
}